$white: hsl(0, 0%, 100%);
$lightgray: hsl(212, 45%, 89%);
$grayishblue: hsl(220, 15%, 55%);
$darkblue: hsl(218, 44%, 22%);
$font-size : 10px;
$font-weight-bold: 700;
$font-weight-normal: 400;
$font-family: 'Outfit', sans-serif;;